html {
  height: 100%;
  width: 100%;
}
body {font-family: 'Oswald', sans-serif;}
.headline{color: #39a763;
          height: 300px;
          width:110px;
         margin: 30px ;
         padding:80px ;
         left: 40px;
         right: 40px;
         font:20px;}
.headline{background:#dae53e;}
.bio{color:#020203;}
.bio{background:#dd1d1d;}
#ronaldo{height:auto
        width:50px;}
.12{colour:#119de4;}

